<!--
  Generated template for the ModalCercanosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gris">
    <ion-buttons left>
      <button ion-button (click)="viewCtrl.dismiss();">X</button>
    </ion-buttons>
  <h4 text-center class="colorAmaLEtra">Estacionamientos cercanos</h4>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let estamt of servEs.estacionamientos.slice(0,5)">
  <div class="titulosAmarillo">{{estamt.direccion}}</div>
    <div class="titulosAmarillo"><label>Tiempo:</label> {{estamt.duracion}}</div>
    <ion-row>
      <ion-col col-6><button small ion-button color="gris" outline (click)="verPromocion(estamt.promocion)">Promoción</button></ion-col>
      <ion-col col-6 ><button small ion-button color="gris" float-right outline>
        <a href="http://maps.google.com?q={{estamt.lt}},{{estamt.lng}}">Ir</a></button></ion-col>
    </ion-row>

      <table class="default responsive">
        <th>Dias</th>
        <th>Hora</th>
        <th>P-Minuto</th>
        <th>P-Hora</th>
        <th>Maximo al dia</th>
        <tr *ngFor="let horarios of estamt.horarios">
          <td>  {{horarios.dias}}</td>
          <td> {{horarios.hora}}</td>
          <td> <label>$</label>{{horarios.montoPorMinuto}}</td>
          <td> <label>$</label>{{horarios.montoPorHora}}</td>
          <td> <label>$</label>{{horarios.maximoDiario}}</td>
        </tr>
      </table>

  </ion-card>

</ion-content>
